# Data Manipulation
pandas

# Machine Learning & NLP
scikit-learn
joblib

# Jupyter Notebook Execution Pipeline
jupyter
nbconvert
ipykernel
nbclient

# Visualization (for the Evaluation Report)
matplotlib
seaborn
customtkinter
processed_reddit_sarcasm.csv